
@model InterviewQuestionGenerator.Models.Student
@{
    ViewBag.Title = "QuestionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Student</h2>

@using (Html.BeginForm("Save", "Student"))
{
    @Html.ValidationSummary(true, "Please fix the errors below before continuing.")
    <div class="form-group">
        @Html.LabelFor(s => s.Name)
        @Html.TextBoxFor(s => s.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Name)
    </div>
    @Html.HiddenFor(s => s.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn-primary btn">Save</button>

}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
